<%- include('head.ejs') %>

<h1> Login page </h1>
<form>
	<input type="text" name="login" placeholder="Login">
	<input type="password" name="pass" placeholder="Password">
	<input type="submit">
</form>