<%- include('head.ejs'); %>

<h1> Search page </h1>

<form action="/search" method="POST">
	<input type="text" name="poisk" placeholder="Inter the text">
	<input type="submit">
</form>


<%- include('foot.ejs'); %>